<div class="ui container">
    <sm-card class="ui card">
        <card-title><h3>{{pupil.auth.login}}</h3></card-title>
        <!--<card-subtitle></card-subtitle>-->
        <card-content>
            <div>Current courses: <div class="ui label detail">{{pupil.currentCourses.length}}</div></div>
            <div>Finished courses: <div class="ui label detail">{{pupil.recentCourses.length}}</div></div>
        </card-content>
        <!--<card-extra>-->
            <!--<a>-->
                <!--<i class="user icon"></i>-->
                <!--22 Friends-->
            <!--</a>-->
        <!--</card-extra>-->
    </sm-card>
    <div class="main ui container">
        <sm-tabs>
            <sm-tab title="Current courses" [active]="true">
                <sm-accordion [options]="{ exclusive: true, on: 'click' }">
                    <sm-accordion-item *ngFor="let course of pupil.currentCourses">
                        <accordion-title>
                            <span [title]="course.description">
                                {{course.courseData.name}}
                                <button class="ui right button floated" (click)="viewCourse(course.courseData)">
                                    <i>
                                        {{course.finishedLessons.length}}/{{course.courseData.lessons.length}}
                                    </i>
                                </button>
                            </span>
                        </accordion-title>
                        <accordion-content>
                            <div *ngFor="let lesson of course.finishedLessons">
                                <sm-segment>
                                    <a class="ui blue ribbon label">Finished</a>
                                    {{lesson.name}}
                                </sm-segment>
                            </div>
                        </accordion-content>
                    </sm-accordion-item>
                </sm-accordion>
                <div >

                </div>
            </sm-tab>
            <sm-tab title="Finished courses">
                <div *ngFor="let course of pupil.recentCourses">
                    <sm-segment class="raised" [title]="course.description">
                        {{course.name}}
                        <button class="ui right button floated" (click)="viewCourse(course)">
                            <i>
                                {{course.lessons.length}}/{{course.lessons.length}}
                            </i>
                        </button>
                    </sm-segment>
                </div>
            </sm-tab>
        </sm-tabs>
    </div>
</div>