<div class="ui container" *ngIf="lesson">
    <sm-segment>
        <div class="ui form">
            <div class="ui input fluid">
                <label for="name">Название урока: </label><input id="name" type="text" readonly [ngModel]="lesson.name">
            </div>
            <div class="ui field fluid">
                <label for="description">Описание: </label>
                <textarea id="description" type="text" readonly [ngModel]="lesson.description">
            </textarea>
            </div>
        </div>
    </sm-segment>
    <sm-segment *ngIf="lesson.videoUrl" class="raised">

        <iframe *ngIf="lesson.videoUrl" width="500" height="300" [src]="lesson.videoUrl" frameborder="0" allowfullscreen></iframe>
    </sm-segment>

    <sm-segment *ngIf="lesson.videoId" class="raised">

        <div *ngIf="lesson.videoId">
            <video width="500" height="300" controls>
                <source [src]="lesson.videoId" type="video/mp4">
            </video>
        </div>
    </sm-segment>
    <sm-segment *ngIf="!isTeacher()">
        <button (click)="markAsLearned()" class="ui button green fluid">Learned</button>
    </sm-segment>
</div>