<div>
    <h2 class="item">Courses</h2>
    <button *ngIf="isTeacher()" class="ui icon button" (click)="addNew()"><i class="add large square icon"></i></button>

    <!--<div class="ui container">-->
        <!--<router-outlet></router-outlet>-->
    <!--</div>-->
    <div class="ui container">
        <div *ngFor="let course of courses">
            <sm-segment class="raised" [title]="course.description || ''">
                <a *ngIf="!isTeacher() && isCurrentCourse(course)" class="ui green ribbon label">In progress</a>
                <a *ngIf="!isTeacher() && isFinishedCourse(course)" class="ui blue ribbon label">Finished</a>
                <button (click)="viewCourse(course)" class="ui icon button"><i class="student icon"></i></button>
                {{course.name}}
                <button *ngIf="isAuthor(course)" (click)="removeCourse(course)" class="ui icon right floated button"><i class="remove icon"></i></button>
            </sm-segment>
        </div>
    </div>
</div>