<div>
    <button *ngIf="isAuthor()" class="ui icon button" (click)="addNew()"><i class="add large square icon"></i></button>
    <div class="ui container">
        <div *ngFor="let lesson of lessons">
            <sm-segment class="raised" [title]="lesson.description">
                <a *ngIf="!isTeacher() && isLessonFinished(lesson)" class="ui blue ribbon label">Finished</a>
                <button (click)="viewLesson(lesson)" class="ui icon button"><i class="student icon"></i></button>
                {{lesson.name}}
                <button *ngIf="isAuthor()" (click)="removeLesson(lesson)" class="ui icon right floated button"><i class="remove icon"></i></button>
            </sm-segment>
        </div>
    </div>
</div>