<div class="ui container">
    <div class="ui teal segment" *ngIf="course">
        <a *ngIf="!isTeacher() && currentCourseIsFinished" class="ui blue ribbon label">Finished</a>
        <h2 class="ui right floated header">{{course.name}}</h2>
        <div class="ui clearing divider"></div>
        <p>{{course.description}}</p>
        <div *ngIf="isTeacher() && !isInCreate()">
            <button [disabled]="!selectedPupils.length" (click)="suggestPupil()" class="ui button icon" title="Mentor pupil">
                <i class="add user icon"></i> suggest
            </button>
            <sm-select
                    [options]="{direction: 'downward', transition: 'vertical flip'}"
                    [control]="selectControl"
                    placeholder="Select pupil..."
                    class="search floating multiple"
                    (onChange)="onSelectPupil($event)">
                <option *ngFor="let pupil of pupils" [value]="pupil._id">{{pupil.auth.login}}</option>
            </sm-select>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
