<button class="ui icon button" (click)="saveCourse(model)">
    <i class="save icon"></i>
</button>
<div class="ui container">
    <sm-segment>
        <div class="ui form">
            <div class="ui input fluid">
                <label for="name">Название курса: </label><input id="name" type="text" [(ngModel)]="model.name">
            </div>
            <div class="ui field fluid">
                <label for="description">Описание: </label>
                <textarea id="description" type="text" [(ngModel)]="model.description">
            </textarea>
            </div>
        </div>
    </sm-segment>
</div>