<button class="ui icon button" (click)="saveLesson(model)">
    <i class="save icon"></i>
</button>
<div class="ui container">
    <sm-segment>
        <div class="ui form">
            <div class="ui input fluid">
                <label for="name">Название урока: </label><input id="name" type="text" [(ngModel)]="model.name">
            </div>
            <div class="ui field fluid">
                <label for="description">Описание: </label>
                <textarea id="description" type="text" [(ngModel)]="model.description">
            </textarea>
            </div>
        </div>
    </sm-segment>

    <sm-segment class="raised" *ngIf="!model.videoType">
        Как бы вы хотели добавить видео?
        <input type="radio" [(ngModel)]="model.videoType" id="youtube-radio" name="videoType" value="youtube"><label
            for="youtube-radio"> Youtube </label>
        <input type="radio" [(ngModel)]="model.videoType" id="video-file-radio" name="videoType" value="mp4"> <label
            for="video-file-radio"> Video file .mp4</label>
    </sm-segment>

    <sm-segment *ngIf="model.videoType === 'youtube'" class="raised">
        <div class="ui input">
            video url:<input type="text" #currentUrl (input)="parseVideoUrl($event.target.value)">
        </div>
        <iframe *ngIf="targetUrl" width="500" height="300" [src]="targetUrl" frameborder="0" allowfullscreen></iframe>
    </sm-segment>

    <sm-segment *ngIf="model.videoType === 'mp4'" class="raised">
        <div class="dropzone"></div>
        <dropzone
                [element]="'.dropzone'"
                [clickable]="true"
                [acceptedFiles]="'video/mp4'"
                [url]="'files/upload'"
                (sending)="fileProgressImage=true"
                (success)="handleFileSuccess($event)"
                (error)="handleFileFailure($event)"></dropzone>
        <div *ngIf="srcFileUrl">
            <video width="500" height="300" controls>
                <source [src]="srcFileUrl" type="video/mp4">
            </video>
        </div>
    </sm-segment>
</div>