<div class="ui container">
    <div *ngFor="let pupil of pupils">
        <sm-segment class="raised" [title]="pupil.description">
            <button (click)="addPupil(pupil)" class="ui icon button" title="Mentor pupil">
                <i class="student icon"></i>
            </button>
            {{pupil.name}} {{pupil.auth.login}}
            <!--<button *ngIf="isAuthor()" (click)="removeLesson(pupil)" class="ui icon right floated button"><i class="remove icon"></i></button>-->
        </sm-segment>
    </div>
</div>